In [1]:
import pandas as pd
import numpy as np
import sklearn
import matplotlib.pyplot as plt

from sklearn.ensemble import GradientBoostingClassifier, ExtraTreesClassifier

In [2]:
data = pd.read_csv('datasets/Processed_Data_part.csv')

In [3]:
data.head()

,mineid,contract,subunit,month,day,time,inspoff,state,county,sic,...,expjob,year,injtype,daystotl,jobtitl2,coalmetl,opercont,district,commod,occup
0,100003,NaN,Surface: Strip or open pit mines including as...,January,19,1000.0,"Birmingham, AL",Alabama,117,Limestone (crushed and broken),...,2.0,1983,NDL (No days lost),0.0,Bulldozer/tractor oper.,Metal/Nonmetal/Stone/S&G,Operator,Southeastern,Stone operator,NaN
1,100003,NaN,Surface: Strip or open pit mines including as...,February,4,1345.0,"Birmingham, AL",Alabama,117,Limestone (crushed and broken),...,28.0,1983,"NFDL (Nonfatal, days lost)",5.0,Mechanic/repairman/helper,Metal/Nonmetal/Stone/S&G,Operator,Southeastern,Stone operator,NaN
2,100003,NaN,Surface: Strip or open pit mines including as...,July,18,1000.0,"Birmingham, AL",Alabama,117,Limestone (crushed and broken),...,3.0,1983,NaN,0.0,Sizing/washing/cleaning plant opr/worker,Metal/Nonmetal/Stone/S&G,Operator,Southeastern,Stone operator,NaN
3,100003,LK7,Surface: Strip or open pit mines including as...,August,8,645.0,"Birmingham, AL",Alabama,117,Limestone (crushed and broken),...,30.0,1983,"NFDL (Nonfatal, days lost)",235.0,Truck driver,Metal/Nonmetal/Stone/S&G,Contractor,Southeastern,Noncoal contractor,NaN
4,100003,NaN,Surface: Strip or open pit mines including as...,August,28,900.0,"Birmingham, AL",Alabama,117,Limestone (crushed and broken),...,2.0,1983,"NFDL (Nonfatal, days lost)",1.0,Mechanic/repairman/helper,Metal/Nonmetal/Stone/S&G,Operator,Southeastern,Stone operator,NaN

In [4]:
y = data['atype'].unique()
print len(y)
y

42

array(['Struck against moving object',
       'Contact with hot objects or substances',
       'Over-exertion in lifting objects', 'Caught in-under-between NEC',
       'Absorption of various noxious substances', 'Struck by NEC',
       'Fall down stairs', 'Struck by flying object',
       'Caught in-under-between a moving and stationary object',
       'Struck against stationary object',
       'Fall from headframe,derrick, or tower',
       'Fall onto or against objects',
       'Fall from machine,vehicle, or equipment',
       'Struck by falling object', 'Over-exertion NEC',
       'Fall from ladders',
       'Caught in-under-between collapsing material or buildings',
       'Flash burns (electric)',
       'Over-exertion in pulling or pushing objects',
       'Accident type without injuries',
       'Fall to the walkway or working surface',
       'Struck by powered moving object', 'Bodily reaction NEC',
       'Not elsewhere classified', 'Struck by rolling object (sliding)',
       'Caught in-under-between several moving objects',
       'Contact with electric current', 'Fall to lower level NEC',
       'Inhalation of various noxious substances',
       'Over-exertion in wielding or throwing objects',
       'Flash burns (welding)',
       'Fall from piled material (include coal,rock,ore, or waste)',
       'Fall from scaffolds,walkways (elevated),platforms, etc.',
       'Unclassified, insufficient data',
       'Fall down raise,shaft, or manway underground',
       'Contact with heat (atmosphere or environment)',
       'Caught in-under-between running or meshing objects',
       'Fall on same level NEC', 'Rubbed or abraded NEC',
       'Contact with cold (atmosphere or environment)', 'Drowning',
       'Struck by concussion'], dtype=object)

In [5]:
data = data.drop(['occup'], axis=1)
data.head()

,mineid,contract,subunit,month,day,time,inspoff,state,county,sic,...,expmine,expjob,year,injtype,daystotl,jobtitl2,coalmetl,opercont,district,commod
0,100003,NaN,Surface: Strip or open pit mines including as...,January,19,1000.0,"Birmingham, AL",Alabama,117,Limestone (crushed and broken),...,4.00000,2.0,1983,NDL (No days lost),0.0,Bulldozer/tractor oper.,Metal/Nonmetal/Stone/S&G,Operator,Southeastern,Stone operator
1,100003,NaN,Surface: Strip or open pit mines including as...,February,4,1345.0,"Birmingham, AL",Alabama,117,Limestone (crushed and broken),...,9.00000,28.0,1983,"NFDL (Nonfatal, days lost)",5.0,Mechanic/repairman/helper,Metal/Nonmetal/Stone/S&G,Operator,Southeastern,Stone operator
2,100003,NaN,Surface: Strip or open pit mines including as...,July,18,1000.0,"Birmingham, AL",Alabama,117,Limestone (crushed and broken),...,3.00000,3.0,1983,NaN,0.0,Sizing/washing/cleaning plant opr/worker,Metal/Nonmetal/Stone/S&G,Operator,Southeastern,Stone operator
3,100003,LK7,Surface: Strip or open pit mines including as...,August,8,645.0,"Birmingham, AL",Alabama,117,Limestone (crushed and broken),...,0.07666,30.0,1983,"NFDL (Nonfatal, days lost)",235.0,Truck driver,Metal/Nonmetal/Stone/S&G,Contractor,Southeastern,Noncoal contractor
4,100003,NaN,Surface: Strip or open pit mines including as...,August,28,900.0,"Birmingham, AL",Alabama,117,Limestone (crushed and broken),...,4.00000,2.0,1983,"NFDL (Nonfatal, days lost)",1.0,Mechanic/repairman/helper,Metal/Nonmetal/Stone/S&G,Operator,Southeastern,Stone operator

In [6]:
from sklearn.preprocessing import LabelEncoder

def categoricalColumns(df):
    cols = df.columns
    cols_numeric = df._get_numeric_data().columns
    return list(set(cols) - set(cols_numeric))

def categoricalToNumeric(df):
    cat_columns = categoricalColumns(df)
    if cat_columns:
        for category in cat_columns:
            encoder = LabelEncoder()
            #df.loc[:, category+'_n'] = encoder.fit_transform(df[category])
            df.loc[:, category] = encoder.fit_transform(df[category])

    #df.drop(cat_columns, axis=1, inplace=True)
    return df

data2 = categoricalToNumeric(data)

/usr/local/lib/python2.7/dist-packages/numpy/lib/arraysetops.py:216: FutureWarning: numpy not_equal will not check object identity in the future. The comparison did not return the same result as suggested by the identity (`is`)) and will change.
  flag = np.concatenate(([True], aux[1:] != aux[:-1]))

In [7]:
data2.head()

,mineid,contract,subunit,month,day,time,inspoff,state,county,sic,...,expmine,expjob,year,injtype,daystotl,jobtitl2,coalmetl,opercont,district,commod
0,100003,0,7,4,19,1000.0,7,0,117,19,...,4.00000,2.0,1983,1,0.0,9,1,1,10,6
1,100003,0,7,3,4,1345.0,7,0,117,19,...,9.00000,28.0,1983,2,5.0,47,1,1,10,6
2,100003,0,7,5,18,1000.0,7,0,117,19,...,3.00000,3.0,1983,0,0.0,68,1,1,10,6
3,100003,55,7,1,8,645.0,7,0,117,19,...,0.07666,30.0,1983,2,235.0,81,1,0,10,3
4,100003,0,7,1,28,900.0,7,0,117,19,...,4.00000,2.0,1983,2,1.0,47,1,1,10,6

In [8]:
data2 = data2.dropna()

In [9]:
len(data2)

3816

In [10]:
def modelfit(alg, dtrain, predictors, performCV=True, printFeatureImportance=True, cv_folds=5):
    #Fit the algorithm on the data
    alg.fit(dtrain[predictors], dtrain['atype'])
        
    #Predict training set:
    dtrain_predictions = alg.predict(dtrain[predictors])
    dtrain_predprob = alg.predict_proba(dtrain[predictors])[:,1]
    
    #Perform cross-validation:
#     if performCV:
#         cv_score = cross_validation.cross_val_score(alg, dtrain[predictors], dtrain['Disbursed'], cv=cv_folds, scoring='roc_auc')
    
#     #Print model report:
#     print "\nModel Report"
#     print "Accuracy : %.4g" % metrics.accuracy_score(dtrain['Disbursed'].values, dtrain_predictions)
#     print "AUC Score (Train): %f" % metrics.roc_auc_score(dtrain['Disbursed'], dtrain_predprob)
    
#     if performCV:
#         print "CV Score : Mean - %.7g | Std - %.7g | Min - %.7g | Max - %.7g" % (np.mean(cv_score),np.std(cv_score),np.min(cv_score),np.max(cv_score))
        
    #Print Feature Importance:
    if printFeatureImportance:
        feat_imp = pd.Series(alg.feature_importances_, predictors).sort_values(ascending=False)
        feat_imp.plot(kind='bar', title='Feature Importances')
        plt.ylabel('Feature Importance Score')
        plt.show()

In [ ]:
target = 'atype'
IDcol = 'mineid'

predictors = [x for x in data2 if x not in [target, IDcol]]
model = GradientBoostingClassifier(random_state=10)
modelfit(model, data2, predictors)

In [ ]:
plt.show()

In [ ]:
target = 'atype'
IDcol = 'mineid'

predictors = [x for x in data2.columns if x not in [target, IDcol]]
predictors

In [ ]:
# %%time
# import define
# import analyze
# import prepare
# import feature_selection
# import evaluate

# from sklearn.pipeline import Pipeline, FeatureUnion
# from sklearn.svm import SVC
# from sklearn import cross_validation
# import pandas as pd

# #name = "datasets/iris.csv"
# name = "datasets/Processed_Data_part.csv"
# #name = "datasets/LocalizationOld.csv"
# #name = "datasets/seguridad.csv"
# #name = "datasets/breast-cancer-wisconsin.csv"
# #name = "breast-cancer-wisconsin.csv"
# #name = "inputBus.csv"
# # className = "Ruta"
# #className = "CATEGORY"
# #className = "class"
# className = "position"

# #STEP 0: Define workflow parameters
# definer = define.Define(nameData=name, className=className).pipeline()

# #STEP 1: Analyze data by ploting it
# #analyze.Analyze(definer).pipeline()

# #STEP 2: Prepare data by scaling, normalizing, etc. 
# preparer = prepare.Prepare(definer).pipeline()

# #STEP 3: Feature selection
# featurer = feature_selection.FeatureSelection(definer).pipeline()

# #STEP4: Evalute the algorithms by using the pipelines
# evaluator = evaluate.Evaluate(definer, preparer, featurer).pipeline()